{% extends "base.html" %}
{% block title %}{{ status }} Banking{% endblock %}

{% block content %}

<h2>Bank Change Requests</h2>

<table border="1" cellpadding="10">
<tr>
    <th>Employee</th>
    <th>New Bank</th>
    <th>Account</th>
    <th>IFSC</th>
    <th>Effective From</th>
    <th>Action</th>
</tr>

{% for r in requests %}
<tr>
    <td>{{ r.employee.name }}</td>
    <td>{{ r.new_bank_name }}</td>
    <td>{{ r.new_account_number }}</td>
    <td>{{ r.new_ifsc }}</td>
    <td>
        {{ r.get_effective_month_display }} {{ r.effective_year }}
    </td>
    <td>
        <a href="{% url 'banking:approve_bank_change' r.id %}">
            Approve
        </a>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="6">No pending requests</td>
</tr>
{% endfor %}

</table>

{% endblock %}
